* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  overflow: hidden;
}
.bodycontainer {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#inputform {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  gap: 1.5rem;
  border: 1px solid black;
  padding: 2rem;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 450px) {
    #inputform {
        max-width: 26rem;
    } 
}
#inputform h2 {
  font-size: 4.1rem;
}
#fname,
#lname,
#byear,
#biodata {
  width: auto;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
input {
  font-size: 1.7rem;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
label {
  font-size: 2rem;
  font-weight: 600;
}
input:focus {
  outline: 1px solid rgba(35, 210, 26, 0.7);
}
#favcolor {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 20rem;
  height: 4rem;
}
#generatebutton {
  width: auto;
  height: 4.8rem;
  font-weight: 700;
  font-size: 2.15rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.9s ease;
}
#generatebutton:hover {
  background-color: rgb(3, 65, 3);
}
.card {
  border: 1px black solid;
  padding: 2rem;
  font-size: 2.2rem;
  line-height: 2.4rem;
  max-width: 35rem;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profilecard {
  display: none;
}
#imagecontainer {
  max-width: 7rem;
  max-height: 7rem;
  margin-bottom: 1rem;
}
#imagecontainer img {
  width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#fullname {
  font-size: 3.2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
